<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES</title>
    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <div class="main">
        <img class="logo" src="/static/img/logo.png" alt="logo site">
        <div class="link">
        <a href="/">Home |</a> 
        <a href="/quemsomos">Quem Somos |</a> 
        <a href="/contato">Contato |</a>
        <a href="/users">Usuários </a>
        </div>
    </div> 
    
    {% block conteudo %} 

    {% endblock %}
      
    <div>
        <h4>Todos os direitos reservados</h4>
    </div>

</body>