<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div>
        <img src = "/static/img/logo.png" style="left: 500px; top: 30px; position: absolute;">
    </div>
    
    <div style=" height: 25px; left: 1200px; position:relative; top: 50px; width: 200px">
        <ins><a href="/home/">Home</a></ins> 
        | <ins><a href="/quemsomos/">Quem somos</a></ins> 
        | <ins><a href="/contato/">Contato</a></ins>
    </div>
  
    {% block conteudo %} 

    {% endblock %}

</body>
