{% extends "base.html" %}

{% block conteudo %}

<div class="form">
    <h2>Entre em contato</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde architecto et exercitationem quidem asperiores animi iure laboriosam facilis in corporis velit nulla deserunt repudiandae, voluptate neque dignissimos ducimus obcaecati fuga?</p>
    <hr>
    <form method="post" action="/contato">
        Seu e-mail:<br>
        <input type="text" name="email" required><br>
        Assunto:<br>
        <input type="text" name="assunto" required><br>
        Descrição:<br>
        <input type="text" name="descricao" required><br>      
        <input type="submit" value="Enviar">
    </form>
</div>

{% endblock %} 

