{% extends "base.html"%}

{% block conteudo %}

<style>
    body{background-image: url(../static/img/fundo.png)}
</style>

<div class="capa">
    <img src="../static/img/capa.png" alt="capa home"> 
</div>

<div>
    <h1>Sobre a universidade</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit consequuntur quas, veritatis facere necessitatibus nobis? Facilis repellat explicabo officia aliquid, magnam sunt laboriosam asperiores cum cumque deserunt, voluptatibus maxime ex animi esse ratione similique inventore tempora perspiciatis fugit necessitatibus aspernatur! Ex dolores possimus reprehenderit vero explicabo mollitia veritatis perferendis impedit nihil temporibus excepturi voluptatum suscipit, laboriosam accusantium, ea numquam, asperiores laudantium doloremque? Magnam, id sequi quae accusamus, reiciendis minima veritatis, nisi vitae repudiandae omnis velit consectetur voluptatibus. Maiores, possimus ipsa sapiente optio, libero enim fuga aspernatur accusamus ullam sint fugit soluta reiciendis qui, quod quam facere impedit tempore veniam. Excepturi?</p>
    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit saepe adipisci provident maxime ad vel voluptas recusandae accusantium reiciendis nobis aut non, ratione ducimus perspiciatis! Eveniet porro consequatur quis vero esse veritatis numquam beatae accusantium similique nemo! Pariatur vitae omnis distinctio corrupti voluptate. Voluptatum sapiente provident odit delectus molestiae perferendis, a minima quam numquam maiores earum illo nam sunt cumque nemo ad qui, eligendi eius optio id enim autem. Iste error, aperiam at laudantium enim aut voluptate similique ipsum quaerat sed nesciunt illum assumenda et. Alias provident sapiente consequuntur id. Magnam fugiat molestiae magni eligendi blanditiis quasi ipsam, sed laboriosam.</p>
</div>

{% endblock %}

</html>