{% extends "base.html"%}

{% block conteudo %}

<div>
    <h2>Quem somos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel impedit, consectetur officia dicta ut sunt, explicabo minus dolorem corporis repellendus iste veniam modi ea adipisci recusandae dolores quas nulla. Fugiat?</p>

    <h2>5 Motivos para estudar</h2>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
</div>
<hr>
<div>
    <h2>Objetivos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores eum consectetur blanditiis! Id delectus est itaque. Deserunt saepe officia alias placeat, cumque pariatur, consectetur ipsa cum beatae non dolorum nostrum.</p>
</div>

{% endblock %}