{% extends 'base.html' %}

{% block conteudo %}
<br><hr><br><br><br><br><br>
<div>
    <table>
    
        <tr>
    
            <th id="desc">E-mail</th>      
            <th id="desc">Assunto</th>
            <th id="desc">Descrição</th>  
        </tr>
    
        {% for user in userDetails %}
        
        <tbody>
            <tr>
                <td id="desc">{{user[0]}}</td>
                <td id="desc">{{user[1]}}</td>
                <td id="desc">{{user[2]}}</td>
            </tr>
        </tbody>
       
    
        {% endfor %}
    
    </table>
</div>

{% endblock %}